/* news.page.scss */

ion-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
  
    ion-card-content {
      padding: 16px;
    }
  
    .image-container {
      border: 1px solid #ddd; /* Adiciona borda à div que envolve a imagem */
      border-radius: 8px; /* Borda arredondada para combinar com o card */
      overflow: hidden; /* Garante que a borda seja aplicada corretamente */
      margin-bottom: 10px; /* Adiciona espaço abaixo da imagem */
      
      img {
        width: 100%;
        height: auto;
      }
    }
  
    ion-item {
      border-bottom: 1px solid #ddd;
      padding: 8px 0;
    }
  }
  