<ion-header>
  <ion-toolbar>
    <ion-title>Buscar Notícias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Selecione a categoria</ion-label>
    <ion-select label ="filtro" [(ngModel)]="type" (ionChange)="filter()">
      <ion-select-option value="">Tudo</ion-select-option>
      <ion-select-option value="business">Negócios</ion-select-option>
      <ion-select-option value="entertainment">Entretenimento</ion-select-option>
      <ion-select-option value="general">Geral</ion-select-option>
      <ion-select-option value="health">Saúde</ion-select-option>
      <ion-select-option value="science">Ciência</ion-select-option>
      <ion-select-option value="sports">Esportes</ion-select-option>
      <ion-select-option value="technology">Tecnologia</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-list>
    <ion-card *ngFor="let singleInfo of info" (click)="openUrl(singleInfo)">
      <ion-card-header>
        <ion-card-title>{{ singleInfo.title }}</ion-card-title>
        <ion-card-subtitle>{{ singleInfo.source.name }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content text-center>
        <div class="image-container">
          <img [src]="getImageUrl(singleInfo)" alt="News Image"/>
        </div>
        <ion-item lines="none">
          <ion-label text-wrap>Descrição: </ion-label>
          <ion-text>{{ getDescription(singleInfo).slice(0, 200) + '...' }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label text-wrap>Publicado em: {{ singleInfo.publishedAt }}</ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-list>
  