ion-label{
    font-size: 0.9rem;
    font-weight: bold;
    margin-left: 0.8rem;
    h4{
        font-weight: bold !important;
        font-size: 1.2rem;
    }
    p{
        font-size: 0.8rem;
    }
}
