<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Minha Conta</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear">
        <ion-icon name="power-outline" style="color: white"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item lines="full">
      <ion-button slot="end" fill="clear">Editar</ion-button>
      <ion-label>
        <h4>Nome</h4>
        <p>(42)XXXX-XXXX | asd&#64;gmail.com</p>
      </ion-label>
    </ion-item>
    <ion-item lines="none" detail="true">
      <ion-icon name="home-outline" slot="start" color="dark"></ion-icon>
      <h5>Gerenciar Endereços</h5>
    </ion-item>
  </ion-list>

  <ion-list>
    <app-loading-pedidos *ngIf="isLoading"></app-loading-pedidos>
    <app-empty-pedidos *ngIf="!isLoading && pedidos.length == 0" [model]="model"></app-empty-pedidos>
    <div *ngIf="pedidos.length > 0 " style="text-align: center;">
      <h4 style="display: inline-block;">
        Histórico de Pedidos 
      </h4> 
      <app-pedidos *ngFor="let pedido of pedidos" [pedido]="pedido"></app-pedidos>
    </div>
  </ion-list>
</ion-content>