ion-icon{
    font-size: 13rem;
    color: var(--ion-color-primary);
    margin-bottom: 1rem;
    margin:auto;
    display: flex;
    text-align: center;
}

ion-label{
    font-size: 1.5rem;
    color: var(--ion-color-primary);
}